										/* Mise en forme générale */
@font-face {
	font-family: "Garden Sans";
	src: url('Garden_Sans.ttf');
}

h1 {
	font-family: Garden Sans, Calibri, sans-serif;
	font-size: 3em;
	color : rgba(255, 0, 0, 0.82);
}

h2 {
	font-family: Garden Sans, Calibri, sans-serif;
	font-size: 2.4em;
	color : red;
}

h3 {
	font-family: Garden Sans, Calibri, sans-serif;
	font-size: 1.4em;
	color : red;
	font-weight: 200;
}

p, ul, ol {
color : red;
font-family: roboto-condensed, calibri , sans-serif;
font-size: 0.91em;
font-weight: thin;
}




										/* Cadre */

body {
	border-style: double;
	border-width: 15px;
	border-color : rgba(255, 0, 0, 0.82);
	
	
	width:97%;
	position: relative;
	
	background-color: #f6e58d;
	
	background-image: url("fichiers_TP_recettes/food.png"); background-repeat: no-repeat; background-position: right; background-attachment: fixed; background-size: 450px;

}


										/* Logo */
#logo {
	position: absolute;
	
	width:100%;
}

#logo img {
	float : left;
}

#logo h1 {	
	position: absolute;
	top:20px;
	float:right;
	right: 40%;
	
	
}




										/* Menu */
header {
	position: relative;
	
	width:100%;
	height:230px;
	background-color: white;
}

nav {
	position:absolute;
	bottom:0;
	right:0;
	float:bottom;
	
	background-color: rgba(255, 0, 0, 0.82);
	text-align: center;
	
	padding-top: 15px;
	padding-bottom: 15px;
	
	width:100%;

}



nav ul li {
	list-style: none;
	display: inline;
	width: 13%;
	margin-left: 2%;
	
}

nav ul a {
	text-decoration: none;
	color : rgba(250, 226, 90, 1);
	
	font-family: neoteric, calibri, sans-serif;
	font-size: 1.3em;
}

nav ul a:hover {
	color : #eac027;
}




										/* Aside */


aside {
	position: absolute;
	left:0;
	
	width : 300px;
	padding: 15px;
	
	background-color:rgba(255,  0,  0, 0.74);
	
	border-style: dotted;
	border-width: 2px;
	border-color : red;
	
	margin-top:5px; margin-left: 5px;		
	}


aside p, aside h2, aside h3, aside ul, aside ol {
	color : rgba(250, 226, 90, 1);
}

aside a {
	color : rgba(250, 207, 90, 1);
}

aside a:hover {
	color : rgba(255, 172, 29, 1);
}

#nouilles {
	text-align: center;
}


span {
	color : rgba(255, 173, 29, 0.89);

}



										/* Article */
article {
	padding-left : 370px;
	width : 600px;  	
}


										/* Footer */

    
footer {

  width: 98.5%; height: 108px;
  
  background-color: #f4fafa;
  
  background-image: url("fichiers_TP_recettes/footer_background.jpg"); background-repeat: no-repeat; background-position: right;
  
  padding-top: 20px;
  padding-left: 20px;
	
}











